<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CERBookingSystemDAL.Properties.Settings.CERDatabaseConnectionString"
            connectionString="Data Source=ANDY-PC;Initial Catalog=CERDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CERBookingSystemDAL.Properties.Settings.CERDatabaseConnectionString1"
            connectionString="Data Source=sqlserverkn.westeurope.cloudapp.azure.com;Initial Catalog=CERDatabase;User ID=ceruser;Password=sayplease1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>