<div class="navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("New City", "AddNewCity", "TrainRoute")</li>
            <li>@Html.ActionLink("New Train", "AddNewTrain", "TrainRoute")</li>
            <li>@Html.ActionLink("New Route", "AddNewRoute", "TrainRoute")</li>
            <li>@Html.ActionLink("New Train", "AddNewTrainRoute", "TrainRoute")</li>
        </ul>
    </div>
</div>