
<div class="container-fluid" style="padding-top:20px">
    <div class="row" >
        <div class="col-md-6" style="padding-top:30px">
             
            
           <table class="table" >
               <tr>
                   <td ><h4>Contact Number:</h4></td>
                   <td><h4>02890123456</h4></td>      
               </tr>
               <tr>
                   <td ><h4>Contact Email:</h4></td>
                   <td><h4>CerBooking@gmail.com</h4></td>
               </tr>
               <tr>
                   <td ><h4>Contact Address:</h4></td>
                   <td><h4><p>5 College Terrace</p>
                           <p>Londonderry/Derry</p>
                           <p>Northern Ireland</p>
                           <p>BT48 7NZ</p></h4>   

                   </td>
               </tr>
           </table>
        </div>
        <div class="col-md-6" >
            <img src="@Url.Content("~/Content/ContactUs.png")" class="img-responsive"  />
        </div>
    </div>
         
</div>


